<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Register</title>
		<link rel="stylesheet" href="../css/register.css" />
	</head>
	<body>
		<section>
			<div class="mainDiv div-left">
				<div class="subLeft">
					<h1>Register as a Student</h1>
				</div>
			</div>
			<div class="mainDiv div-right">
				<form action="/register" method="POST">
					<div>
						<label for="fname">First Name</label>
						<input
							type="text"
							required
							name="fname"
							id="fname"
							placeholder="Enter Name"
						/>
					</div>
					<div>
						<label for="lname">Last Name</label>
						<input
							type="text"
							required
							name="lname"
							id="lname"
							placeholder="Enter Last Name"
						/>
					</div>
					<div>
						<label for="email">Email</label>
						<input
							type="email"
							required
							name="email"
							id="email"
							placeholder="Enter Name"
						/>
					</div>
					<div>
						<label for="address">Address</label>
						<input
							type="text"
							required
							id="address"
							name="address"
							placeholder="Enter Address"
						/>
					</div>
					<div>
						<input class="button" type="submit" value="Register" />
					</div>
				</form>
			</div>
		</section>
	</body>
</html>
